canvas {
  height:100%;
}

#waveforms .active { 
  background:#ff0;
}

#wrapper { 
  display:flex;
  height:100vh;
}

#wrapper nav  {
  display:flex;
  flex-direction:column;
  width:200px;
  overflow-y:scroll;
  font-size: smaller;
}

#content-wrapper { 
  width:100%;
  height:100%;
}

#content { 
  width:100%;
  overflow-y:scroll;
  height:calc(100vh - 3.5em); 
}

#audios { 
  flex-shrink:2;
  flex-direction:column;
  overflow-y:scroll;
  overflow-x:clip;
  font-size:small;
  padding-top:1em;
}

#waveforms { 
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
  height: 100vh;
}

#waveforms wave {
  height:128px !important;
}

#waveforms .waveform:not(.active) wave wave { 
  /* prevent cursor on non-active waveforms */
  display:none !important;
}

#waveforms.showSpectrograms wave {
  height:64px !important;
}

#waveforms .spectrogram { 
  display:none;
}

#waveforms marker {
  /* lift labels above waveform */
  z-index:3;
}

#waveforms .spec-labels { 
  position:absolute !important;
}

#waveforms.showSpectrograms .spectrogram{
  display:unset;
}

.renditionName { 
  cursor: pointer;
}

.renditionName:hover { 
  text-decoration:underline;
}

ul { 
  list-style-type: none;
  padding-left:0px;
  margin-left:0px;
}

label { 
  color:gray;
  font-size:smaller;
  cursor:pointer;
}

label.ready { 
  color:green;
}

label.loading { 
  color:black;
}


details { 
  cursor:pointer;
}

.listSelectors { 
  font-size: smaller;
  text-decoration:underline;
}

.listSelectors .all { 
  padding-right:1em;
}

.listSelectors .none{ 
  padding-left:1em;
}

.waveform {
  margin-bottom: .2em;
  border: 1px solid black;
  border-top:0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.spectrogram{
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

#waveforms:not(.showSpectrograms) .waveform { 
  border-top: 1px solid black;
  border-radius: 5px;
}

wave marker:not(marker:first-child) div:first-child {  
  opacity:1 !important;
  background-color:red !important;
}

.timerValueContainer { 
  display: flex;
  justify-content: center;
}
.timerValueContainer span { 
  position:relative;
  top:2em;
  font-size:small;
}