#waveforms .active { 
  background:#ff0;
}

#wrapper { 
  display:flex;
  max-height:calc( 100vh - 50px );
}

#wrapper nav  {
  width:20%;
}

#waveforms { 
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
  height:calc( 100vh - 50px );
  width:80%;
}

.renditionName { 
  cursor: pointer;
}

.renditionName:hover { 
  text-decoration:underline;
}
