#waveforms .active { 
  background:#ff0;
}

#wrapper { 
  display:flex;
  max-height:calc( 100vh - 50px );
}

#wrapper nav  {
  width:22%;
}

#waveforms { 
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
  height:calc( 100vh - 50px );
  width:78%;
}

.renditionName { 
  cursor: pointer;
}

.renditionName:hover { 
  text-decoration:underline;
}

ul { 
  list-style-type: none;
  padding-left:0px;
  margin-left:0px;
}

label { 
  color:gray;
}

label.ready { 
  color:green;
}

label.loading { 
  color:black;
}
