<!DOCTYPE html>
  <head>
    <title>SSV Align</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
    <script> let root = "{{ url_for('static', filename='') }}" </script>
    <script> let alignmentData = "{{ data }}" </script>
    <script src="{{ url_for('static', filename='js/listen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.markers.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.spectrogram.min.js') }}"></script>
  </head>
  <body>
    <div id="wrapper">
      <nav>
          <button id="restore">Restore marks</button>
          <button id="mark">Mark</button>
          <button id="playLastMark">Play from last marker</button>
          <button id="playpause">Play/Pause</button>
          <span>
            <input type="checkbox" id="transitionType" checked />
            <label for="#transitionType">Jump to marker</label>
          </span>
          <span>
            <input type="checkbox" id="showSpectrograms"/>
            <label for="#showSpectrograms">Spectrograms</label>
          </span>
          <div id="audios"></div>
      </nav>
      <div id="waveforms"></div>
    </div>
  </body>
</html>
