<!DOCTYPE html>
  <head>
    <title>Listen Here!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
    <script> 
      let root = "{{ url_for('static', filename='') }}";
      let params = new URL(window.location.toLocaleString()).searchParams;
      let alignmentData = params.get("data");
      let workId = params.get("work");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-json-patch/3.1.1/fast-json-patch.min.js"></script>
    <script type = "module" src="{{ url_for('static', filename='js/listen.js') }}"></script>
    <script type = "module" src="{{ url_for('static', filename='js/solid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/verovio-toolkit-wasm.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.markers.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.spectrogram.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.cursor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wavesurfer.regions.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm/node_modules/@inrupt/solid-client-authn-browser/dist/solid-client-authn.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='npm/node_modules/jsonld/dist/jsonld.min.js')}}"></script>
  </head>
  <body>
    <div id="logo">
      <img src="{{ url_for('static', filename='bat/ListenHereBat.svg') }}" height="140" alt="Logo" />
    </div>
    <div id="wrapper">
      <nav>
          <a id="back">Back</a>
          <button id="mark">Mark</button>
          <button id="playLastMark">Play from last marker</button>
          <button id="playpause">Play/Pause</button>
          <span>
            <input type="checkbox" id="transitionType" checked />
            <label for="transitionType">Jump to marker</label>
          </span>
          <span>
            <input type="checkbox" id="showSpectrograms"/>
            <label for="showSpectrograms">Spectrograms</label>
          </span>
          <span>
            <input type="checkbox" id="normalize"/>
            <label for="normalize">Normalize audio</label>
          </span>
          <span>
            <input type="checkbox" id="visalign"/>
            <label for="visalign">Visualise alignments</label>
          </span>
          <span>
            <input type="checkbox" id="visrelalign"/>
            <label for="visrelalign">Show relative position</label>
          </span>
          <div id="audios"></div>
      </nav>
      <div id="content-wrapper">
        <div id="content">
          <div id="waveforms"></div>
        </div>
        <div id="solidPanel">
          <div id="solidTab">
            <div id="solidLogin">
              Please <a id="solidLogin">Click here to log in!</a>
            </div>
          </div>
          <div id="maoExtracts">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
